@page "/counter"
@using System.Runtime.InteropServices

<PageTitle>Native C</PageTitle>

<h1>Native C Code</h1>

<p>
    <RadzenCard>
        <h4 class="mb-4">Default Numeric</h4>
        <RadzenNumeric TValue="int" Max="12" Change=@(args => Calculate(args)) Class="w-100" />
    </RadzenCard>

    The result is @f
</p>

@code {
    Int32 f = 0;

    [DllImport("Native")]
    static extern int fact(int n);

    private void Calculate(int num)
    {
        f = fact(num);
    }
}